.card {
  width: 235px;
  /* max-width: 300px; */
  /* height: 350px; */
  height: 319px;
  /* flex-direction: column; */
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  /* justify-content: flex-end; */

  border: 1px solid black;
}

.card-header {
  display: flex;
  justify-content: space-between;
  padding: 1px;
  font-size: .8em;

  /* border: 1px solid black; */
}

.card-header-name {
  text-align: left;
  font-size: .9em;
  padding:2px;
  font-weight: 700;

  /* border: 1px solid black; */
}

.card-header-cmc {
  padding: 2px;
  /* border: 1px solid black; */
}

.card-body {
  font-size: .7em;
  display: flex;
  /* flex-flow: column-wrap; */
  /* font-size: 2em; */
  flex-direction: column;
  margin: 5px;
  padding: 5px;
  text-align: left;
  /* border: 1px solid black; */
}

.card-body-type {
  font-weight: 625;
}

.card-body-line {

  /* text-align: left; */
  /* border: 1px solid black; */

}

.card-power-toughness {
  display: flex;
  justify-content: flex-end;
  padding:10px;
  font-weight: 500;

}

/* .df-card-power-toughness {
  display: flex;
  justify-content: flex-end;
  padding:10px;
  font-weight: 500;

  transform: rotate(180deg);
} */

.df-card-power-toughness {
  display: flex;
  justify-content: space-between;
  padding:10px;
  font-weight: 500;

  /* transform: rotate(180deg); */
}

.rotate {
  transform: rotate(180deg);
}

.df-card-body-type {
  font-weight: 500;
  transform:rotate(180deg);
}

.df-card-header {
  display: flex;
  justify-content: space-between;
  padding: 1px;
  font-size: .8em;

  transform: rotate(180deg);

  /* border: 1px solid black; */
}

.df-card-body {
  font-size: .7em;
  display: flex;
  
  flex-direction: column;
  margin: 5px;
  padding: 5px;
  text-align: left;

  transform: rotate(180deg)
}

.df-card-body-line {
  transform: rotate(180deg);
}

/* need to make this conditional */
/* .5em seems better, just need to have duel-facing cards P/T slash loyalty on the same line? */
.tiny {
  font-size: .5em;
}

.search-test {
  width: 472px;
  height: 321px;
  margin: 20 auto;
  border: 1px solid black;
}